* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
html {
	height: 100vh;
	background-image: linear-gradient(0deg, rgb(87, 164, 189), rgb(109, 61, 176));
}
#app {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: center;
	height: 100vh;
	margin: auto;
	color: #fff;
}
h1 {
	margin: 20px 0;
	font-size: 50px;
}
h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 20px 0;
}
.select {
	margin: 20px 0;
}
.select > input {
	margin: 0 5px 0 20px;
}
.addList {
	margin: 20px 0;
	display: flex;
	align-content: center;
	justify-content: center;
}
[name="addTodoList"] {
	width: 500px;
	height: 40px;
	padding: 0 20px;
	border-radius: 10px;
	border: 1px solid #fff;
	text-align: left;
	font-size: 20px;
}
[name="addTodoListButton"] {
	width: 65px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #fff;
	margin-left: 20px;
	font-size: 15px;
}
ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}
li {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	list-style: none;
	width: 500px;
	font-size: 25px;
	height: 30px;
	margin: 10px 0;
}
.index {
	display: inline-block;
	margin-right: 20px;
}
.todoText {
	display: inline-block;
	text-align: left;
	width: 350px;
}
.status {
	display: inline-block;
	cursor: pointer;
	min-width: 80px;
}
.delet {
	display: inline-block;
	cursor: pointer;
	text-align: center;
}
