<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todoLists</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <h1>我的待办清单</h1>
      <h3>
        当前共有{{todoLists.length}}个代办事项， 其中{{numberOfDone}}个已完成，
        还剩{{todoLists.length-numberOfDone}}个未完成
      </h3>
      <div class="select">
        <input
          name="todoSelect"
          type="radio"
          value="all"
          v-model="isChecked"
        />所有
        <input
          name="todoSelect"
          type="radio"
          value="done"
          v-model="isChecked"
        />已完成
        <input
          name="todoSelect"
          type="radio"
          value="todo"
          v-model="isChecked"
        />未完成
      </div>
      <div class="addList">
        <input
          type="text"
          name="addTodoList"
          placeholder="请输入待办事项"
          @keyup.enter="addTodoList"
          v-model.trim="input"
        />
        <input
          type="button"
          name="addTodoListButton"
          value="添加"
          @click="addTodoList"
          :disabled="isDisabled"
        />
      </div>
      <ul>
        <todo-list-item
          v-for="(list, index) in listsView"
          :list="list"
          :index="index"
          :key="list.id"
          @change-status="changeStatus(list)"
          @delet-todo-list="deletTodoList(index)"
        ></todo-list-item>
      </ul>
    </div>
    <script type="module" src="./index.js"></script>
  </body>
</html>
